<div class="container">

  <div class="row row-cols-4">
  <div *ngFor="let user of users" class="col card" style="width: 15rem; margin: 1em">
    <img src="{{user.avatar}}" style="max-height:128px;max-width:128px" class="card-img-top" alt="...">
    <div class="card-body" >
      <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
      <p class="card-text">{{user.email}}</p>
      <a href="#" class="btn btn-primary" [routerLink]="['/userdetail/',user.id]" >Detail</a>
    </div>
  </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" (click)="goToPrev()" >Previous</a></li>

    <li *ngFor="let pageNo of pages"  class="page-item"><a class="page-link" (click)="goToPage(pageNo)" >{{pageNo}}</a></li>

    <li class="page-item"><a class="page-link"  [attr.disabled]="currPage >= noPages" (click)="goToNext()">Next</a></li>
  </ul>
</nav>

</div>
